* {
  box-sizing: border-box;
}

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

body {
  background-color: #f9fafb;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
 background-color: white;
 border-radius: 5px;
 box-shadow: 0 2px 10px rgba(0,0,0,0.3);
 width: 400px;  
}

.form {
  padding: 30px 40px;
}

.form h2 {
  text-align: center;
  margin: 0 0 20px;
}

.input-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.input-control label {
  display: block;
  color:  #777;
  margin-bottom: 5px;
}

.input-control input {
  width: 100%;
  border: 2px solid #f0f0f0f0;
  border-radius: 4px;
  padding: 10px;
  display: block;
  font-size: 14px;
}

.input-control input:focus{
  outline: 0;
  border-color: #777;
}

.input-control.success input {
  border-color: var(--success-color);
}

.input-control.error input {
  border-color: var(--error-color);
}

.input-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
  color: var(--error-color);
}

.input-control.error small {
  visibility: visible;
}

.form button {
  color: white;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 20px;
}
