* {
  box-sizing: border-box;
}

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 400px;
  border: 0;
}

.form {
  padding: 30px 40px;
}

h2 {
  text-align: center;
  margin-top: 0;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: block;
  color: #777;
  margin-bottom: 4px;
}

.form-control input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  font-size: 14px;
}

.form-control small {
  position: absolute;
  visibility: hidden;
  color: var(--error-color);
  bottom: 0;
  left: 0;
}

.form-control.error small {
  visibility: visible;
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.submit {
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  border: 2px solid #3498db;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;

}
